<h1>about online appliance repair</h1>

<p>
Online appliance repair was developed for the do it yourself person. It was designed by experienced service technicians that share step by step
ways to diagnose and repair your home appliance.
</p>

